# Dependencies
node_modules/

# Build output
dist/
*out.js
*.log

# Environment / API Keys
.env
.env.local
.env.*.local

# Editor Files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Supabase local
.supabase

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build
*.tsbuildinfo
